body,html {
    margin: 0;
    padding: 0;
    background-color: #080311;
    height: 100vh;

  }
  .bg{
    background-image: url("bg/img/ft1_photos_v2_x2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #e3d9f348;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 30px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: 0px;
  }
  .login-align {
    margin-top: -10%;
  }
  .login-container {
    height: 440px !important; 
  }
  .grid-form{
    margin: -100px 0px;
  }
  .login-forget-password {
   color: #16033a!important;
   margin: -40px 150px;
  }
  .login-text-color {
    color: #080311!important;
  }
  .user-text-color {
    color: #080311!important;
    margin: -3px 0px;
   
  }
  .password-text-color {
    color:#080311!important; 
    margin: -3px 0px;
   
  }
  .enter-text-color{
    background: #0e011b!important;
    color: #faffff!important;
    border-color: #100320f1!important;
    margin: 50px 1px;
  }


  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

  .input-container {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 3px;
  }
  .input-container input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 0;
    outline: none;
    color: #333;
  }
  i {
    /*background-image: url("bg/img/eye36.png");*/
    margin: -29 410px;
    color: #aaa;
    cursor: default;
  }
  
  .ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
  } 