body,html {
    margin: 0;
    padding: 0;
    background-color: #080311;
    height: 100vh;
  }
  .bg{
    background-image: url("bg/img/ft1_photos_v2_x2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 30px;
  }
 
  .login-align{
    margin: 32px 0px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    border: groove;
    background: rgba(79, 12, 124, 0.158);
    
    
  }
  
  .login-forget-password {
    font-weight: 700;
    color: #16033a!important;
    margin: -40px 150px;
  }
  .text_ {
    color:white
    font-family cursive;
  }
  .text-top {
    font-family: cursive;
    color:white
  }
  .login-text-color {
    color: #0e031ffa!important;
    font-weight: 900;
  }
  .label-text{
    width: 416px;
    margin: -6px 27px;
  }
  .user-text-color {
    margin: 06px 30px;
    color: black!important;
  }
  .password-text-color {
    margin: 6px 30px;
    color:#080311!important;  
  }
  .enter-text-color{
    background: #0e011b!important;
    color: #faffff!important;
    border-color: #100320f1!important;
    width: 335px;
    margin: 48px 71px;
  }
  .alert-error{
    height: 33px;
    width: 416px;
    margin: 6px 27px;
  }
  .alert-text{
    margin: -8px 100px;
  }
  .ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
  } 

  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

  .input-container {
    width: 416px;
    margin: -6px 27px;
    display: flex;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 3px;
  }
  .input-container input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 0;
    outline: none;
    color: #333;
  }
  i {
    margin: -26 410px;
    color: #aaa;
    cursor: default;
  }
  .lnr-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
/* Desktop grande */
@media (min-width: 1200px) {
  .login-align {
    background-color: rgb(239, 243, 16);
  }
}
 /* Telefones em paisagem a tablet em retrato */
 @media (max-width: 767px) {
  .login-align {
    background-color: rgb(85, 11, 155);
  }
}
/*For mobile phones */
  @media only screen and (max-width:510px) {
    .login-align .alert-danger {
     background-color: lawngreen;
     
      
    }
  } 

  
  