
<!--<div>
    <label>Nome Completo</label>
    <input type="text" />
    <label>Login</label>
    <input type="text" />
    <label>Senha</label>
    <input type="password" />
    <label>Confirmar Senha</label>
    <input type="password" />
    <label>E-mail</label>
    <input type="email" />
    <label>Celular (WhatsApp)</label>
    <input type="tel" />
</div>-->

<div class="container">
    <form class="form form-inline" role="form">
  
         <div class="form-group col-xs-12 col-sm-6 col-lg-3">
        <label for="InputFieldA" class="col-xs-4"></label>
           <div class="col-xs-8">
          <input type="text" class="form-control" id="InputFieldA" placeholder="Nome Completo">
        </div>
      </div>
     <div class="form-group col-xs-12 col-sm-6 col-lg-3">
        <label for="InputFieldB" class="col-xs-4"></label>
        <div class="col-xs-8">
          <input type="text" class="form-control" id="InputFieldB" placeholder="Data de Nascimento">
        </div>
      </div>
     <div class="form-group col-xs-12 col-sm-6 col-lg-3">
        <label for="InputFieldC" class="col-xs-4">  </label>
        <div class="col-xs-8">
          <input type="text" class="form-control" id="InputFieldC" placeholder="000.000.000-00"></div>
      </div>
     <div class="form-group col-xs-12 col-sm-6 col-lg-3">
        <label for="InputFieldA" class="col-xs-4"></label>
        <div class="col-xs-8">
          <input type="text" class="form-control" id="InputFieldA" placeholder="Endereço de e-mail">
        </div>
      </div>
     <div class="form-group col-xs-12 col-sm-6 col-lg-3">
        <label for="InputFieldB" class="col-xs-4"></label>
        <div class="col-xs-8">
          <input type="text" class="form-control" id="InputFieldB" placeholder="Confirmar Endereço de e-nail">
        </div>
      </div>
     <div class="form-group col-xs-12 col-sm-6 col-lg-3">
        <label for="InputFieldC" class="col-xs-4"></label>
        <div class="col-xs-8">
          <input type="text" class="form-control" id="InputFieldC" placeholder="XXXXXXXXX">
        </div>
      </div>
     <div class="form-group col-xs-12 col-sm-6 col-lg-3">
        <label for="InputFieldA" class="col-xs-4"></label>
        <div class="col-xs-8">
          <input type="text" class="form-control" id="InputFieldA" placeholder="XXXXXXXXX">
        </div>
      </div>
     <div class="form-group col-xs-12 col-sm-6 col-lg-3">
        <label for="InputFieldB" class="col-xs-4"></label>
        <div class="col-xs-8">
          <input type="text" class="form-control" id="InputFieldB" placeholder="XXXXXXXXX">
        </div>
      </div>
     <div class="form-group col-xs-12 col-sm-6 col-lg-3">
        <label for="InputFieldC" class="col-xs-4"></label>
        <div class="col-xs-8">
          <input type="text" class="form-control" id="InputFieldC" placeholder="XXXXXXXXX">
        </div>
      </div>
          <div class="form-group col-xs-12 col-sm-6 col-lg-3">
            <button type="button" class="btn btn-outline-primary">C A D A S T R A R</button>
      </div>
    <div>
 </div>

      <!----<p>TBM POSSO USAR ASSIM</p>
    </form>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <div class="row">
        <div class="col-md-4 col-xs-3 col-sm-4"><label></label></div>
        <div class="col-md-8 col-xs-9 col-sm-8"><input  placeholder="XXXXXXXXX" type="text"></div>
        </div>
      </div>
      <div class="col-md-4">
      <div class="row">
        <div class="col-md-4 col-xs-3 col-sm-4"><label></label></div>
        <div class="col-md-8 col-xs-9 col-sm-8"><input type="text"></div>
        </div>
      </div>
      <div class="col-md-4">
      <div class="row">
        <div class="col-md-4 col-xs-3 col-sm-4"><label></label></div>
        <div class="col-md-8 col-xs-9 col-sm-8"><input type="text"></div>
        </div>
      </div>
    </div>
  </div>--->
  

  