<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1>{{ title }}</h1>

<div class="bg-info clearfix">
    <button (click)="callActionUser('cadastrar')" class="btn btn-secondary float-left">Cadastrar Usuário</button>
    <button (click)="callActionUser('visualizar')"class="btn btn-secondary float-right">Visualizar Usuário</button>
  </div>
<div>
    <app-form-user-register *ngIf="typeForm == 'cadastrar'"></app-form-user-register>
    <app-form-user-find *ngIf="typeForm == 'visualizar'"></app-form-user-find>
</div>