.bg01{
    background-image: url("bg/img/campo01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

._324c4dab879ba825000621078996e10c-css{
    position:relative;
    border:1px solid #d8dcde;
    border-radius:4px;
    background-color:#fff;
    padding:20px 40px;
    line-height:1.42857;
    color:#68737d;
    font-size:14px;
  }
  
  ._9ee6295a35c225acab03041dc37b1186-css{
    display:block;
    margin:0;
    color:#2f3941;
    font-weight:600;
  }
  
  ._4b2402d3dcf0ba8467a8bb57bdd334e0-css{
    margin:10px 0 0;
  }
  
  ._324c4dab879ba825000621078996e10c-css.a815ff12f2ffc9ac03483a39325a73dd-css{
    direction:rtl;
  }
  
  ._99cc10b6fb8546b1d9c41bc41a9274a2-css{
    display:block;
    position:absolute;
    top:4px;
    right:4px;
    transition:background-color .1s ease-in-out;
    border:none;
    border-radius:50%;
    background-color:transparent;
    cursor:pointer;
    width:28px;
    height:28px;
    overflow:hidden;
    text-decoration:none;
    font-size:0;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
  }
  
  
  
  /* Reset styles for links within notifications */
  
  ._17606607f52a4a3eebf0d5e8c75b3937-css a {
    -webkit-animation: none 0s ease 0s 1 normal none running;
            animation: none 0s ease 0s 1 normal none running;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
    border: medium none currentColor;
    border-collapse: separate;
    -webkit-border-image: none;
         -o-border-image: none;
            border-image: none;
    border-radius: 0;
    border-spacing: 0;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: #000;
    -webkit-columns: auto;
       -moz-columns: auto;
            columns: auto;
    -webkit-column-count: auto;
       -moz-column-count: auto;
            column-count: auto;
    -webkit-column-fill: balance;
       -moz-column-fill: balance;
            column-fill: balance;
    grid-column-gap: normal;
    -webkit-column-gap: normal;
       -moz-column-gap: normal;
            column-gap: normal;
    -webkit-column-rule: medium none currentColor;
       -moz-column-rule: medium none currentColor;
            column-rule: medium none currentColor;
    -webkit-column-span: 1;
       -moz-column-span: 1;
            column-span: 1;
    -webkit-column-width: auto;
       -moz-column-width: auto;
            column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    float: none;
    font-family: serif;
    font-size: medium;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    height: auto;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    left: auto;
    letter-spacing: normal;
    list-style: disc outside none;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 2;
    outline: medium none invert;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    -webkit-perspective: none;
            perspective: none;
    -webkit-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
    position: static;
    right: auto;
    -moz-tab-size: 8;
      -o-tab-size: 8;
         tab-size: 8;
    table-layout: auto;
    text-align: left;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    -webkit-transform: none;
            transform: none;
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
    -webkit-transform-style: flat;
            transform-style: flat;
    -webkit-transition: none 0s ease 0s;
    transition: none 0s ease 0s;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 2;
    width: auto;
    word-spacing: normal;
    z-index: auto;
    all: initial;
    font-size: inherit;
    font-family: inherit;
    color: #0072ef;
    cursor: pointer;
  }
  
  ._17606607f52a4a3eebf0d5e8c75b3937-css a:hover,
  ._17606607f52a4a3eebf0d5e8c75b3937-css a:focus {
    text-decoration: underline;
  }
 