

<h1>Seja Bem-Vindo ao Central de Apostas</h1>



<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
      <button [routerLink]="['/user']" class="btn btn-outline-success me-2" type="button">U S U Á R I O </button>
      <button [routerLink]="['/company']" class="btn btn-outline-success me-2" type="button">E M P R E S A</button>
      <button [routerLink]="['/login']" class="btn btn-sm btn-outline-secondary" type="button">S A I R</button>
    </form>
  </nav>